In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [8]:
df = pd.read_csv("pet_supplies_cleaned_2212.csv")
df=df.rename(columns = {'repeate_purchase':'repeat_purchase'})
df.head()

   product_id  category animal    size  price   sales  rating  repeat_purchase
0           3      Food    Dog  Medium  31.23  898.30       5                1
1           4  Medicine    Cat   Small  24.95  982.15       6                1
2           5   Housing    Cat   Small  26.18  832.63       7                1
3           6   Housing    Dog   Small  30.77  874.58       7                0
4         472  Medicine    Dog  Medium  28.06  842.07       0                0

In [41]:
df2 = pd.read_csv("pet_supplies_category_groupby_repeat_purchase.csv")
df2

    category  total_repeat_purchase
0  Equipment                    221
1   Medicine                    153
2    Housing                    152
3       Food                    151
4       Toys                    145
5  Accessory                     70
6    Unknown                     14

In [40]:
df3['total_repeat_purchase']

category
Equipment    221
Medicine     153
Housing      152
Food         151
Toys         145
Accessory     70
Unknown       14
Name: total_repeat_purchase, dtype: int64

In [33]:
plt.bar(df3['category'],df3['total_repeat_purchase'])

KeyError: 'category'